@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1D3433;
    min-height: 1500px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1D3433, transparent);
    z-index: 10000;
}

section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1D3433;
    z-index: 10000;
    mix-blend-mode: color;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: relative;
    color: #fff;
    font-size: 7em;
    z-index: 1;
    background: rgb(35, 43, 37);
    padding: 2vw;
    border-radius: 2vw;
    border-bottom: solid white 10px;
}

#road {
    z-index: 2;
}

.text-box {
    margin: auto;
    width: 75vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vw;
}

.text-box h1 {
    font-size: 36pt;
    margin: 30px 0;
}

.text-box p {
    font-size: 30pt;
}

.login {
    cursor: pointer;
    border-radius: 1vw;
    font-size: 24pt;
    margin-top: 1vw;
    padding: 1vw 5vw;
    background-color: #335e5b;
    border: none;
    border-bottom: #fff 2px solid;
    color: white;
}

.login:hover {
    background-color: #498682;
}

